@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  
}
.text-primary-gradient {
  @apply bg-linear-to-br from-[#3363FF] to-[#A92FFF] bg-clip-text text-transparent;
  -webkit-background-clip: text;
}