@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* @plugin "daisyui" {
  themes: light --default;
 } */

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  
}
/* Theme toggle */


/* button css */
.text-primary-gradient {
  @apply bg-linear-to-br from-[#3363FF] to-[#A92FFF] bg-clip-text text-transparent;
  -webkit-background-clip: text;
}

.custom-select option{
  background-color: white;
} 

.btn-logout {
  background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
  transition: 0.5s;
  background-size: 200% auto;
  
}
.btn-logout:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-login {
  background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF   100%);
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
}

.btn-login:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
}

.btn-google {
  background-image: linear-gradient(to right, #EC6EAD 0%, #3494E6  55%, #EC6EAD  100%);
  transition: 0.5s;
  background-size: 200% auto;
            
}
.btn-google:hover {
  background-position: right center; /* change the direction of the change here */
}

.btn-register {
  background-image: linear-gradient(to right, #A770EF 0%, #CF8BF3  55%, #A770EF  100%);
  transition: 0.5s;
  background-size: 200% auto;
            
}
.btn-register:hover {
  background-position: right center; /* change the direction of the change here */
}
         
/* .btn-g {
  background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  55%, #02AAB0   100%);
  transition: 0.5s;
  background-size: 200% auto;
            
}
.btn-g:hover {
  background-position: right center; /* change the direction of the change here */
/* } */